<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<h1>Welcome Traveler!</h1>

<div class='form-container'>

<% if flash[:errors] %>
    <p style="color: red;"><%= flash[:errors]%></p>
<% end %>

<%= form_tag "/sessions" do %>
    <%= label_tag "Username: " %>
    <%= text_field_tag :username %><br>

    <%= label_tag "Password: " %>
    <%= password_field_tag :password %>

    <%= submit_tag "Login" %>
<% end %>
<div class='form-container'>

