
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color: red;"><%= error %></p>
    <% end %>
<% end %>


<div class='form-container'>

<%= form_for @user, :html => {:multipart => true} do |f| %>

  <div class="form-input">
    <%= f.label "Name: "%>
    <%= f.text_field :name %>
  </div>

  <div class="form-input">
    <%= f.label "Username: " %>
    <%= f.text_field :username %>
  </div>

  <div class="form-input">
    <%= f.label "Password: " %> 
    <%= f.password_field :password %>
  </div>


  <div class="form-input">
    <%= f.label "Profile photo: " %>
    <%= f.file_field :image %>
  </div>

  <div class="form-input">
    <%= f.label "Date of birth: " %>
    <%= f.date_select :date_of_birth, :start_year=>1910 %>
  </div>

  <div class="form-input">
    <%= f.label "City: " %>
    <%= f.text_field :city %>
  </div>

  <div class="form-input">
  <%= f.label "Bio: " %>
  <%= f.text_area :bio %>
</div>


  <%= f.submit class: 'form-button'%>
<% end %>
</div>

