

<h1 style="text-align:center;">Profile Page</h1>
<style>
body {text-align: center;}

</style>
    
<body>
<% if @user.image? %>
    <img src="<%= @user.image_url.to_s %>" alt="profile photo" width="85" height="90">
<% end %>

<br>
<p><strong>Name: <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<p>Date of Birth: <%= @user.date_of_birth.strftime('%Y-%m-%d') %></p>
<p>Bio: <%= @user.bio %></p>
<p>City: <%= @user.city %></p>
</body>

Reviews:<br>

<% @user.reviews.each do |review| %>
    <%= link_to review.title, review_path(review) %><br>
<% end %>
<br>
<br>


<% if @current_user == @user %>
    <%= link_to "Edit Profile", edit_user_path(@current_user) %>
<% end %>




