<div class="body-margin">
<h2><%= @review.title %></h2>
    <% if @review.image?%>
        <img src="<%= @review.image_url.to_s %>" alt="review photo" width="400" height="400"><br>
    <% end %>
   <p>City: <%= @review.place.name %></p>
   <p>Review: <%= @review.review %></p><br>
   <p>By: <%= link_to @review.user.username, user_path(@review.user) %></p>
<%= button_to "Like", review_likes_path(@review), method: :post %>  <%= @review.likes.count %>

<%= render 'comments/comment' %>

<br>
<% if flash[:errors] %>
    <p style="color:red"><%= flash[:errors] %></p>
<% end %>
<br>

<% if @current_user == @review.user %>
    <%= button_to "Delete", review_path(@review), method: :delete %>
<% end %>
</div>


