<h3><%= @review.title %></h3>

<%= @review.photo %>
<p>Review: <%= @review.review %></p>
<p>By: <%= @review.user.name %></p>

<%= button_to "Like", review_likes_path(@review), method: :post %>

<%= link_to "All Reviews", reviews_path(@reviews) %>

